body {
  background-color: #e4e8f8;
}

.parallax {
    /* The image used */
    background-image: url("images/Parallax_image.jpg");
    /* Set a specific height */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax > p {
    color: rgb(223, 212, 174);
    font-family: cursive;
    font-size: 400%;
    padding: 100px 0;
    text-align: center;
}

.glow {
    text-align: center;
    -webkit-animation: glow 5s ease-in-out infinite alternate;
    -moz-animation: glow 5s ease-in-out infinite alternate;
    animation: glow 5s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #a24206, 0 0 4px #a24206, 0 0 5px #a24206, 0 0 6px #a24206, 0 0 7px #a24206;
    }
    to {
      text-shadow: 0 0 1px #fff, 0 0 2px #b99a35, 0 0 3px #b99a35, 0 0 4px #b99a35, 0 0 5px #b99a35, 0 0 6px #b99a35, 0 0 7px #b99a35;
    }
  }

@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

.coinImage {
    width:50px;
    height: auto;
}

.about {
  text-align: center;
  padding-bottom: 5px;

}

.about img {
  border-radius: 40px;
  margin: 20px;
}

